.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.gap {
  width: 40px;
  height: 10px;
  border: 1px solid #ccc;

}

/* Make the 3x3 sections stand out */
.cell:nth-child(3n) {
  border-right: 2px solid black; /* Thicker right borders for 3x3 sections */
}

.row:nth-child(3n) .cell {
  border-bottom: 2px solid black; /* Thicker bottom borders for 3x3 sections */
}

.cell:nth-child(1) {
  border-left: 2px solid black; /* Thicker left borders for 3x3 sections */
}

.row:nth-child(1) .cell {
  border-top: 2px solid black; /* Thicker top borders for 3x3 sections */
}

.cell:read-only {
  background-color: #f0f0f0;
}

.cell.highlight {
  background-color: #ffeb3b; /* Yellow highlight */
  border-color: #fbc02d;
}

.get-stats-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-stats-button:hover {
  background-color: #45a049; /* Darker green */
}